[Unit]
Description=Rodelbahn-Tracker Service
ConditionPathExists=/home/msteger/workbench/go/src/github.com/stgrmks/Rodelbahn-Tracker

[Service]
Type=simple

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

WorkingDirectory=/home/msteger/workbench/go/src/github.com/stgrmks/Rodelbahn-Tracker
ExecStart=/home/msteger/workbench/go/src/github.com/stgrmks/Rodelbahn-Tracker/Rodelbahn-Tracker periodic-crawl

PermissionsStartOnly=true
ExecStartPre=/home/msteger/workbench/go/src/github.com/stgrmks/Rodelbahn-Tracker/Rodelbahn-Tracker init

[Install]
WantedBy=multi-user.target